@* MP: From youtube video "Edit rle in asp net core": https://www.youtube.com/watch?v=7ikyZk5fGzk&list=PL6n9fhu94yhVkdrusLaQsfERmL_Jh4XmU&index=80&ab_channel=kudvenkat *@


@{
    ViewBag.Title = "Not Found";
}

<hi>@ViewBag.ErrorMessage</hi>

<a asp-action="index" asp-controller="home">
    Click here to naviagte to the home page
</a>