@* kudventkat (2019) Extend IdentityUser in ASP NET Core. Available at:  *@
@* https://www.youtube.com/watch?v=TuJd2Ez9i3I&list=PL6n9fhu94yhVkdrusLaQsfERmL_Jh4XmU&index=78&ab_channel=kudvenkat *@

@model CreateRoleViewModel

@{
    ViewData["Title"] = "CreateRole";
}

<h1>Create New Company Role</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Create Role</button>  
        </form>
    </div>
</div>

<br>
<div>
    <a class ="btn btn-secondary reset-btn" asp-action="ListRoles">Back to List</a>
</div>