@model IEnumerable<FarmApp.Models.ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Administration Portal</h1>
<hr>
@* Create new company role functionality *@
@if (User.IsInRole("Administrator"))
{
    <div class="container">
        <a asp-action="ListRoles" class="btn btn-primary search-btn">Manage company roles</a>
    </div>
    <hr>
    <div class="container">
        <a asp-action="ListUsers" class="btn btn-primary search-btn">Manage company users</a>
    </div>

}
<hr>
<br> 


@* <div class="container">
    <h4>Additional functionality to be developed in the future:</h4>
</div>

<hr>

<div class="container">
    <a href="#" class="btn btn-secondary search-btn">Reporting</a>
</div>

<hr>

<div class="container">
    <a href="#" class="btn btn-secondary search-btn">Accounting</a>
</div>

<hr>

<div class="container">
    <a href="#" class="btn btn-secondary search-btn">Human resources</a>
</div>

<hr> *@
