@model IEnumerable<FarmApp.Models.ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Administration Portal</h1>
<hr>
@* Create new company role functionality *@
@if (User.IsInRole("Administrator"))
{
  <div class="container">
        <a asp-action="CreateRole" class="btn btn-primary search-btn">Create New Company Role</a>
  </div>
}



<hr>

@Html.DisplayNameFor(model => model.Email)

@* @foreach(var item in Model)
{
    @Html.DisplayFor(modelItem => item)
} *@