@model IEnumerable<ApplicationUser>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "All Company Users";
}
<h1>All website users</h1>
<hr>

@if(Model.Any())
{
    <a class="btn btn-primary" asp-action="Account"
        asp-controller="administration">Create New User</a>
    <a class ="btn btn-secondary reset-btn" asp-action="Index" asp-controller="administration">
        Back to Administration Portal</a>
    <hr>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">User ID</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach(var role in Model)
        {
        <tbody>
            <tr>
                @* <td>@user.UserName</td> *@
                @* <td>@user.UserId</td> *@
                <td>
                    <a class="btn btn-warning" asp-action="EditRole"
                        asp-controller="Administration" asp-route-id="@role.Id">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
        }
    </table>
}
else
{
    <div class="card">
        <div class="card-header">No users created yet</div>
        <div class="card-body">
            <h5 class="card-title">use the button below to create a user</h5>
            <a class="btn btn-primary"
                asp-controller="administration" asp-action="CreateRole">
                Create User
            </a>
        </div>
    </div>
}