@model PrivacyModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Privacy</h1>

@* Create product functionality *@
@if (User.IsInRole("Administrator"))
{
  <div class="container">
    <hr />
      <div class="p-3 mb-2 bg-dark text-white">
        <h5>[Administration Tools]</h5>
        <a asp-action="EditPrivacy" class="btn btn-warning search-btn">Edit Privacy Statement</a>
      </div>
    <hr />
  </div>
}
<br>
@if (Model != null)
{
    <div>@Model.Description</div>
}
<br>